<footer class="container-fluid layoutfooter ">
  <div class="container">
          <div class="row">
                  <div class=" col-xs-6 col-sm-3 col-md-3 footerleft reponsiveH1">
                          <h1 routerLink="home">LaTrobe Live</h1>
                          <br>
                          <p>LaTrobe Live is website provide fan to prediction of favorite team in season 2019</p>
                  </div>
                  <div class=" col-xs-6 col-sm-3 col-md-3 footeritem footerleft ourservice reponsiveH1">
                                  <h1>Predictions</h1>
                                  <ul class="mt-4">
                                                  <li><i class="fa fa-thumbs-up"></i><a routerLink="/next-game"><strong> Next Games</strong></a></li>
                                                  <li><i class="fa fa-thumbs-up"></i><a routerLink="game-played"><strong>
                                                                          Game Played</strong></a></li>
                                                  <li><i class="fa fa-thumbs-up"></i><a routerLink="next-five-match"><strong>
                                                                          Next 5 Matchs</strong></a></li>
                                                  <li><i class="fa fa-thumbs-up"></i><a routerLink="result-so-far"><strong>
                                                                          Result So Far</strong></a></li>
                                                  <li><i class="fa fa-thumbs-up"></i><a routerLink="head-to-head"><strong>
                                                                          Head To Head</strong></a></li>
                                                  <li><i class="fa fa-thumbs-up"></i><a routerLink="team-detail"><strong>
                                                                          Team Detail</strong></a></li>
                                          </ul>
                  </div>
                  <div class=" col-xs-6 col-sm-3 col-md-3 footerleft reponsiveH1">
                          <h1>Office Hours</h1>
                          <br>
                          <p>Monday:8am-5pm</p>
                          <p>Tuesday:8am-5pm</p>
                          <p>Wednesday:8am-5pm</p>
                          <p>Thurday:8am-5pm</p>
                          <p>Friday:8am-5pm</p>
                  </div>
                  <div class=" col-xs-6 col-sm-3 col-md-3 contactinfo ">
                          <div class="rightlogofooter reponsiveH1">
                                  <h1 routerLink="contact-us">Contact Info</h1>
                                  <h2>Live 2019</h2>
                                  <p id="callnumfooter">
                                          <i class="fa fa-phone"></i>
                                          <a class="dynamic-main.number reponsiveanum" href="tel:1333333333">18228318</a>
                                  </p>
                          </div>
                  </div>
          </div>
  </div>
</footer>