<h1>LaTrobe Live Score is the local operation of La Trobe University plc., a responsible leader in the global
    betting and gaming market, with over 125 years’ experience.
</h1>
<p>As a global leader in wagering, La Trobe committed to Australia in 2013. With our platform and products,
    designed locally and built specifically for Australians, we aim to provide a service fit for one of the
    world’s premier betting markets. Category-leading value, flexibility and innovation. That’s what La
    Trobe Live Score is all about.
</p>
<p>Soccer has earnt the right to known as ‘The World Game’ and it remains the most popular sport in the world.
    Australian sporting fans took a while to accept soccer as a serious player in the crowded sporting
    market, but the success of the Socceroos and the A-League in the past decade has helped the game reach
    peak levels of popularity in Australia.

</p>
