<div id="ParentDiv">
  <h3>Please select your favourous team to have look detail</h3>
  <form>
    <div class="form-group form-inline">
      <!-- Full text search: <input class="form-control ml-2" type="text" [formControl]="filter" /> -->
      Please Search Your Favouris Team,Sir: <input class="form-control ml-2" type="text"/>

    </div>
  </form>

  <ul>
    <li class="items namehover" *ngFor="let team of teams" (click)="onSelect(team)">
      <span>{{team.name}}</span>
    </li>
  </ul>
  <!-- pass the team data to child component by
    1 way data binding  -->
  <app-child [team]="selectedTeam"></app-child>
</div>