<div class="container-fluid touchsection">
  <div class="container">
          <div class="row">
                  <div class=" col-md-9 textLeft">
                          <h4>You Want to receive more information also prediction for this season 2019?</h4>
                  </div>
                  <div class=" col-md-3 touchbtn">
                          <a href="contact.html">
                                  <button class="btn btn-success touchRight">Get in touch</button>
                          </a>
                  </div>
          </div>
  </div>
</div>