<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3 class="text-danger">Why Perth Glory's heartbreak of 2000 is the greatest of all</h3>
      <p>They say there's no gain without pain, and Perth Glory's heartbreaking NSL grand final loss to Wollongong Wolves in 2000 is a stark example of that.        </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <h3 class="text-danger">'I'm still that kid who got signed by Roma': De Silva vows to live up to hype</h3>
      <p>It's like a blur in Daniel De Silva's memory reel. Was that really him who signed for AS Roma as a 16-year-old? And how on earth was that six years ago already?        </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Random third slide">
    <div class="carousel-caption">
      <h3 class="text-danger">Throwing his weight around: How Redmayne put on 16kg in two years at Sydney FC</h3>
      <p>As Andrew Redmayne suggests, 90 per cent of goalkeeping is the art of mastering the mind. But to win the battle between his ears, he first had to master his body.        </p>
    </div>
  </ng-template>
</ngb-carousel>