<div class="container review">
  <div class="row">
          <div class="col-md-8 reviewlayout animated fadeInLeft">
                  <h1>
                          Lorem Ipsum is simply dummy
                          <br>
                          Text of the printing and typesetting
                  </h1>
                  <p>It is a long established fact that a reader will be distracted by the readable
                          content of a
                          page when looking at its layout. The point of using Lorem Ipsum is that it has
                          a
                          more-or-less normal distribution of letters, as opposed to using 'Content here,
                          content
                          here', making it look like readable English. Many desktop publishing packages
                          and web
                          page editors now</p>
                  <span>There are many variations of passages of Lorem Ipsum available |
                          <a id="review" href="#">See Review</a>
                  </span>
          </div>
          <div class="col-md-4 reviewlayout left2 animated rollIn">
                  <h3> Call Us
                          <br> 24/7
                  </h3>
                  <p>LaTrobe Live Score</p>
                  <a>
                          <button type="button" class="btn btn-info btn-lg"  routerLink="contact-us" >Contact Us</button>
                  </a>

          </div>
  </div>
</div>