<div class="container review">
        <div class="row">
                <div class="col-md-8 reviewlayout animated fadeInLeft">
                        <h1>
                                Sydney FC happy fans are at a distance
                                <br>
                                for A-League grand final </h1>
                        <p>More than 50,000 parochial home fans might be cheering against them but Sydney FC aren't the least bit concerned of being intimidated having been afforded the comfort of separation from the stands at Optus Stadium.

                                </p>
                        <span>The Sky Blues are relieved Sunday's grand final |
                                <a id="review" href="#">Read More</a>
                        </span>
                </div>
                <div class="col-md-4 reviewlayout left2 animated rollIn">
                        <h3> Call Us
                                <br> 24/7
                        </h3>
                        <p>LaTrobe Live Score</p>
                        <a>
                                <button type="button" class="btn btn-info btn-lg" routerLink="contact-us">Contact
                                        Us</button>
                        </a>

                </div>
        </div>
</div>