
<div id="ChildDiv">
    <!-- ngIf will be run on parrent class to make sure if run or not -->
  <div *ngIf="team">
    <table class="table table-striped">
      <tr>
        <th>Team ID </th>
        <th>Team Name </th>
        <th>Short Name </th>
        <th>Team Logo </th>
      </tr>

      <tr>
        <td> {{team.id}} </td>
          <!-- pipe : easy way to transform value in angular template
          this is value of team name will be upppercase 
                  angularJS call filter
                  ‘|’ is the syntax for transforming data
          -->
        <td> {{ team.name | uppercase }}</td>
        <!-- two way binding data, in here we can update data will bindding
         -->
        <!-- <td> <input [(ngModel)]="team.abbrev" placeholder="name" /> </td> -->
        <td>{{team.abbrev}}</td>
        <td> <img src="{{team.logo}}" /> </td>
        
      </tr>
    </table>
  </div>
</div>
