<div class="container">
    <a class="btn btn-primary" routerLink="/teams/{{id}}"><</a>
    <h1 class="text-center">Results</h1>
    <table class="table table-striped sourcehover">
      <tr>
        <th scope="col">Team A ID</th>
        <th >Team A</th>
        <th>Team B ID</th>
        <th>Team B</th>
        <th>Winner</th>
        <th>Date And Time</th>
      </tr>
      <tr *ngFor="let tip of completes">
        <td scope="row">{{tip.ateamid}}</td>
        <td >{{tip.ateam}}</td>
        <td>{{tip.hteamid}}</td>
        <td>{{tip.hteam}}</td>
        <td>{{tip.winner}}</td>
        <td>{{tip.date}}</td>
      </tr>
    </table>
  </div>