<div class="container">
    <a class="btn btn-primary" routerLink="/teams/{{id}}"><</a>
    <h3>Please Select your arival Team in this season</h3>
    <table class="table table-striped sourcehover">
        <tr>
            <th scope="col">#</th>
          <th class="text-center">Team</th>
          <th></th>
        </tr>
            <tr *ngFor="let team of teams">
              <td scope="row">{{team.id}}</td>
              <td class="text-center">{{team.name}}</td>
              <td>
                <a class="btn btn-primary" routerLink="/teams/{{id}}/head-to-head/{{team.id}}">
                  Select
                </a>
              </td>
          </tr>
      </table>
</div>