<section class="container servicetype">
  <div class="row rowservice">
          <div class="col-lg-3">
                  <!-- class card bootrap -->
                  <div class="card text-center border-info mb-3 animated flipInX">
                          <!-- class img-fluid(Same size) -->
                          <div class="card-body">
                                  <h4 class="text-center text-info">
                                          Melbourne News
                                  </h4>
                                  <div>
                                          <p>Lorem Ipsum is simply dummy text of the printing and
                                                  typesetting industry. Lorem Ipsum has been the
                                                  industry's standard dummy </p>
                                  </div>
                                  <!-- btn-info: background color:info -->
                                  
                                  <!-- btn-outline-info: hover: will be color :beautifull -->
                                  <a href="service.html">
                                          <button class="btn btn-outline-info buyservice">View Detail</button>
                                  </a>
                          </div>
                  </div>
          </div>
          <div class="col-lg-3">
                  <!-- class card bootrap -->
                  <div class="card text-center border-secondary mb-3 animated flipInX">
                          <!-- class img-fluid(Same size) -->
                          <div class="card-body">
                                  <h4 class="text-center text-secondary">
                                          2019 Live Ladder
                                  </h4>
                                  <div>
                                          <p>Lorem Ipsum is simply dummy text of the printing and
                                                  typesetting industry. Lorem Ipsum has been the
                                                  industry's standard dummy </p>
                                  </div>
                                  <!-- btn-info: background color:info -->
                                  
                                  <!-- btn-outline-info: hover: will be color :beautifull -->
                                  <a href="service.html">
                                          <button class="btn btn-outline-info buyservice">View Detail</button>
                                  </a>
                          </div>
                  </div>
          </div>
          <div class="col-lg-3">
                  <!-- class card bootrap -->
                  <div class="card text-center border-danger mb-3 animated flipInX">
                          <!-- class img-fluid(Same size) -->
                          <div class="card-body">
                                  <h4 class="text-center text-danger">
                                          Live Squiggle
                                  </h4>
                                  <div>
                                          <p>Lorem Ipsum is simply dummy text of the printing and
                                                  typesetting industry. Lorem Ipsum has been the
                                                  industry's standard dummy </p>
                                  </div>
                                  <!-- btn-info: background color:info -->
                                  
                                  <!-- btn-outline-info: hover: will be color :beautifull -->
                                  <a href="service.html">
                                          <button class="btn btn-outline-info buyservice">View Detail</button>
                                  </a>
                          </div>
                  </div>
          </div>
          <div class="col-lg-3">
                  <!-- class card bootrap -->
                  <div class="card text-center border-primary mb-3 animated flipInX">
                          <!-- class img-fluid(Same size) -->
                          <div class="card-body">
                                  <h4 class="text-center text-primary">
                                          CSE2ICE News
                                  </h4>
                                  <div class="animated fadeInRight">
                                          <p>Lorem Ipsum is simply dummy text of the printing and
                                                  typesetting industry. Lorem Ipsum has been the
                                                  industry's standard dummy </p>
                                  </div>
                                  <!-- btn-info: background color:info -->
                                  
                                  <!-- btn-outline-info: hover: will be color :beautifull -->
                                  <a href="service.html">
                                          <button class="btn btn-outline-info buyservice">View Detail</button>
                                  </a>
                          </div>
                  </div>
          </div>
  </div>
</section>