<section class="container servicetype">
  <div class="row rowservice">
          <div class="col-lg-3">
                  <!-- class card bootrap -->
                  <div class="card text-center border-info mb-3 animated flipInX">
                          <!-- class img-fluid(Same size) -->
                          <div class="card-body">
                                  <h4 class="text-center text-info">
                                                NPL report: Langwarrin 1-0 
                                        </h4>
                                  <div>
                                          <p>Melbourne Victory was punished for missed opporttunity in a 1-0 loss to Langwarrin in the NPL2 West on Saturday </p>
                                  </div>
                                  <!-- btn-info: background color:info -->
                                  
                                  <!-- btn-outline-info: hover: will be color :beautifull -->
                                  <a href="service.html">
                                          <button class="btn btn-outline-info buyservice">View Detail</button>
                                  </a>
                          </div>
                  </div>
          </div>
          <div class="col-lg-3">
                  <!-- class card bootrap -->
                  <div class="card text-center border-secondary mb-3 animated flipInX">
                          <!-- class img-fluid(Same size) -->
                          <div class="card-body">
                                  <h4 class="text-center text-secondary">
                                                Victory falls short in E-League finals
                                  </h4>
                                  <div>
                                          <p>Melbourne Victory successfull E-Leagufe season come to an end on Thursdays night with the club falling </p>
                                  </div>
                                  <!-- btn-info: background color:info -->
                                  
                                  <!-- btn-outline-info: hover: will be color :beautifull -->
                                  <a href="service.html">
                                          <button class="btn btn-outline-info buyservice">View Detail</button>
                                  </a>
                          </div>
                  </div>
          </div>
          <div class="col-lg-3">
                  <!-- class card bootrap -->
                  <div class="card text-center border-danger mb-3 animated flipInX">
                          <!-- class img-fluid(Same size) -->
                          <div class="card-body">
                                  <h4 class="text-center text-danger">
                                                The West versus the Rest.

                                  </h4>
                                  <div>
                                          <p>Steve Corica, Sydney FC coach, taking on a man who was once a teammate at both club and international level.

                                                </p>
                                  </div>
                                  <!-- btn-info: background color:info -->
                                  
                                  <!-- btn-outline-info: hover: will be color :beautifull -->
                                  <a href="service.html">
                                          <button class="btn btn-outline-info buyservice">View Detail</button>
                                  </a>
                          </div>
                  </div>
          </div>
          <div class="col-lg-3">
                  <!-- class card bootrap -->
                  <div class="card text-center border-primary mb-3 animated flipInX">
                          <!-- class img-fluid(Same size) -->
                          <div class="card-body">
                                  <h4 class="text-center text-primary">
                                                Blue sky outlook
                                  </h4>
                                  <div class="animated fadeInRight">
                                          <p>Sydney FC have headed west with a clean bill of health, a clear tactical plan and a steely determination to mark what is likely to be the end of an era</p>
                                  </div>
                                  <!-- btn-info: background color:info -->
                                  
                                  <!-- btn-outline-info: hover: will be color :beautifull -->
                                  <a href="service.html">
                                          <button class="btn btn-outline-info buyservice">View Detail</button>
                                  </a>
                          </div>
                  </div>
          </div>
  </div>
</section>